<html>
  <head>
    <title>Image</title>
    <style>
      img {
        width: 60%;
        height: auto;
        }
      </style>
    </head>
    <body>
        <center><h1> <%=@header%>  </h1>
        <img src="https://bit.ly/2nSUiWj"/></center>
      </body>
  </html>
